* {
    margin: 0;
    padding: 0;
}

html,
body,
.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}

a {
    text-decoration: none
}


.content-box {
    position: absolute;
    left: 250px;
    right: 0;
    top: 70px;
    bottom: 0;
    padding: 10px;
    padding-bottom: 20px;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
    background: #f0f0f0;
    /* min-height: 100%; */
}
.content-back{
    width: 100%;
    height: 100%;
    min-height: 100%;
    border-radius:4px;
    /* background: #fff; */
}
.content {
    width: auto;
    height: 100%;
    padding: 10px;
    /* overflow-y: scroll; */
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 1014px;
}

.content-collapse {
    left: 65px;
}

.container {
    padding: 30px;
    background: #fff;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
}

.crumbs {
    margin: 10px 0;
}

.el-table th {
    background-color: #f5f7fa !important;
}

.pagination {
    margin: 20px 0;
    text-align: right;
}

.plugins-tips {
    padding: 20px 10px;
    margin-bottom: 20px;
}

.el-button+.el-tooltip {
    margin-left: 10px;
}

.el-table tr:hover {
    background: #f6faff;
}

.mgb20 {
    margin-bottom: 20px;
}

.move-enter-active,
.move-leave-active {
    transition: opacity .5s;
}

.move-enter,
.move-leave {
    opacity: 0;
}

/*BaseForm*/

.form-box {
    width: 600px;
}

.form-box .line {
    text-align: center;
}

.el-time-panel__content::after,
.el-time-panel__content::before {
    margin-top: -7px;
}

.el-time-spinner__wrapper .el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
    padding-bottom: 0;
}

/*Upload*/

.pure-button {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
}

.g-core-image-corp-container .info-aside {
    height: 45px;
}

.el-upload--text {
    background-color: #fff;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    box-sizing: border-box;
    width: 360px;
    height: 180px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.el-upload--text .el-icon-upload {
    font-size: 67px;
    color: #97a8be;
    margin: 40px 0 16px;
    line-height: 50px;
}

.el-upload--text {
    color: #97a8be;
    font-size: 14px;
    text-align: center;
}

.el-upload--text em {
    font-style: normal;
}

/*VueEditor*/

.ql-container {
    min-height: 400px;
}

.ql-snow .ql-tooltip {
    transform: translateX(117.5px) translateY(10px) !important;
}

.editor-btn {
    margin-top: 20px;
}

/*markdown*/

.v-note-wrapper .v-note-panel {
    min-height: 500px;
}
.el-menu-item.is-active {
    background: #dbf0fd;
}

/* // 翻页的效果 */
.pageblock {
    width: 100%;
    overflow: hidden;
    margin-top: 15px;
    padding-bottom: 15px;
}
.topage {
    float: right;
    margin-right: 40px;
    margin-left: 15px;
}
.el-pagination {
    display: inline-block;
    float: right;
}
.el-table th.gutter{
    display: table-cell!important;
}
.maxwidth {
    max-width: 215px;
}
.el-loading-mask{
    z-index: 5000!important;
}

/*基础信息的样式*/
.head .infon_text {
    height: 50px;
    line-height: 50px;
    /*width:100%;*/
    padding-left: 30px;
    /* border-bottom: 1px solid #eee; */
    margin-bottom: 10px;
  }

  .head .infon_shu {
    width: 2px;
    height: 15px;
    display: inline-block;
    background-color: #25a0e9;
    margin-right: 9px;
    vertical-align: middle;
  }

  .head .infon_text .infon_text_t {
    color: #444;
    font-size: 13.5px;
  }
  .head .infon_main {
    margin-left: 75px;
    margin-top: 10px;
    margin-bottom: 100px;
    font-size: 13px;
    letter-spacing: 2px;
    height: 30px;
    /*background-color:red;*/
    line-height: 30px;
    color: #444;
    padding-right: 10px;
  }
  /* 粘性布局 */
  .stickyTop {
    top: -10px;
    z-index: 10;
  }
  .stickyTop-head{
    padding: 20px 20px 0 20px;
    background: #fff;
    display: flex;
    justify-content: flex-end;
  }
